extends layout

block content
  header(role='banner')
    div(class='overflow-auto o-nav-local navbar-dark py-3 mb-0')
      h1(class='container-fluid mb-0') #{title}
  nav(role='navigation' class='o-stepbar' aria-label='Checkout process')
    p(class='float-left mt-2 mr-2 font-weight-bold d-sm-none') Step
    ol
      li(class='stepbar-item' #{currentNeo})
        a(class='stepbar-link' href='#' title='1. Neo') Neo
      li(class='stepbar-item' #{currentGoogle})
        a(class='stepbar-link' href='#' title='2. Google' aria-current='step') Google
      li(class='stepbar-item' #{currentComplete})
        a(class='stepbar-link' href='#' title='3. complete!') complete!
